@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
  background: #bcf0f0;
  background: -webkit-radial-gradient(center, #b3ebec, #bfa3eb);
  background: -moz-radial-gradient(center, #a3f5f7, #c7acf3);
  background: radial-gradient(ellipse at center, #b7e8e9, #c1a1f3);
}

.container{
  width: 1280px;
  margin: auto;
}

.quotes-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
